<div class="team padded text-center">
  <li class="list-inline">
  <img src="http://placehold.it/80x80" alt="" class="img-circle">
  <img src="http://placehold.it/80x80" alt="" class="img-circle">
  <img src="http://placehold.it/80x80" alt="" class="img-circle">
  </li>
</div>
